<div ng-controller="productsCntrl">
    <table class="table">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in productsData">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="removeProductFromTable(product.id)" title="Remove product"
                        >
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class=" btn btn-primary" title="Edit product" ng-click="editProduct(product.id)"
                        data-toggle="modal" data-target="#editProduct">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" data-toggle="modal" data-target="#newProduct">Create new product</button>
    <ng-include src="'js/pages/products/newProduct/newProductModal.html'"></ng-include>
    <ng-include src="'js/pages/products/editProduct/editProduct.html'"></ng-include>

</div>