<div id="newCustomer"  ng-controller="newCustomerCtrl" class="modal fade" tabindex="-1" aria-hidden="true" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog my-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Add new customer</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="customerAddingForm">
                    <div class="form-group ">
                        <label for="customerName" class="control-label col-md-2">Name of Customer: </label>
                        <input id="customerName" type="text" class="form-control my-fix-input" placeholder="Enter new customer name here"
                               ng-model="newCustomerName" required>
                    </div>
                    <div class="form-group">
                        <label for="customerPhone" class="control-label col-md-2">Phone Number of Customer: </label>
                        <input id="customerPhone" type="tel" class="form-control my-fix-input"
                               placeholder="Enter new product price here"
                               ng-model="newCustomerPhone" required>
                    </div>
                    <div class="form-group ">
                        <label for="customerAddress" class="control-label col-md-2">Address of Customer: </label>
                        <input id="customerAddress" type="text" class="form-control my-fix-input" placeholder="Enter new customer address here"
                               ng-model="newCustomerAddress" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-disabled="customerAddingForm.$invalid"
                        ng-click="createCustomer()">Create customer</button>
            </div>

        </div>
    </div>
</div>